.restaurant-card {
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  // padding: 20px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
  h5 {
    font-weight: lighter;
  }
  span {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    text-align: center;
    h4 {
      font-weight: bolder;
      font-size: 12px;
      padding: 0 2px 0;
      margin-top: 10px;
      &:first-child {
        display: flex;
        align-items: center;
        background-color: var(--light-green);
        border-radius: 5px;
        color: white;
        padding: 5px;
        margin-top: 5px;
        i {
          font-size: 10px;
          padding: 2px 5px 3px 0;
        }
      }
    }
  }

  img {
    width: 100%;
    border-radius: 10px;
  }
}
